@page "/races"
@inject RaceTimerClientApp.Web.Client.Services.RaceStateService State

<h2>Races</h2>
<div class="row">
    <div class="col-4">
        <RaceList />
        <UnassignedTimepointsPane />
    </div>
    <div class="col-8">
        @if (State.Races.Any())
        {
            foreach(var r in State.Races.Values)
            {
                <RaceView RaceId="@r.Id" />
            }
        }
        else
        {
            <p>No subscribed races</p>
        }
    </div>
</div>
