################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
*.user
*.odt#
/*/obj
/*/bin
/**/bin/Debug
/**/obj
/~$nzept RaceTimer.odt
/~$-Beschreibung RaceTimer.docx
*.tmp
