################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
*.user
*.odt#
/*/obj
/*/bin
/**/bin/
/**/obj
/~$nzept RaceTimer.odt
/~$-Beschreibung RaceTimer.docx
*.tmp
/RaceTimerApp/RaceTimerApp/AppPackages
/**/*.pfx
/RaceTimerApp/RaceTimerApp/RaceTimerApp_TemporaryKey.pfx
