<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/RaceTimerApp.Shared/app.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RaceTimerApp.Web.styles.css" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveAuto" />
    <link href="bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="bootstrap-icons.min.css">
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <script src="pdf-export.js"></script>
</body>

</html>

